.vs
/FantasyEngine/FantasyEngine.Common/obj
/FantasyEngine/FantasyEngine.Common/bin
/FantasyEngineForUnity/Library
/FantasyEngineForUnity/Temp
/TableTools/Exporter/TableTool.Exporter.Csv/obj
/TableTools/Exporter/TableTool.Exporter.Csv/bin
/TableTools/Exporter/TableTool.Exporter.Json/obj
/TableTools/Exporter/TableTool.Exporter.Json/bin
/TableTools/Exporter/TableTool.Exporter.Text/bin
/TableTools/Exporter/TableTool.Exporter.Text/obj
/TableTools/Generator/TableTool.Generator.Unity/obj
/TableTools/Generator/TableTool.Generator.Unity/bin
/TableTools/Generator/TableTool.Generator.UnrealEngine/obj
/TableTools/Generator/TableTool.Generator.UnrealEngine/bin
/TableTools/Reader/TableTool.Reader.Excel/obj
/TableTools/Reader/TableTool.Reader.Excel/bin
/TableTools/Reader/TableTool.Reader.SQLite/obj
/TableTools/Reader/TableTool.Reader.SQLite/bin
/TableTools/Reader/TableTool.Reader.SqlServer/obj
/TableTools/Reader/TableTool.Reader.SqlServer/bin
/TableTools/TableTool/obj
/TableTools/TableTool/bin
/TableTools/TableTool.Framework/obj
/TableTools/TableTool.Framework/bin
